<%- model_class = Point -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th>Day</th>
      <th>Weather</th>
      <th>Speed</th>
      <th>Device</th>
      <th>Total Time</th>
      <th>Total Distance</th>
      <th><%= model_class.human_attribute_name(:time) %></th>
      <th><%= model_class.human_attribute_name(:distance) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @points.each do |point| %>
      <tr>
        <td><%= link_to point.id, point_path(point) %></td>
        <td><%= point.test.test_run.day.test_date %></td>
        <td><%= point.test.test_run.day.weather_condition %></td>
        <td><%= point.test.test_run.speed %></td>
        <td><%= point.test.device_name %></td>
        <td><%= point.test.time %></td>
        <td><%= point.test.distance %></td>
        <td><%= point.time %></td>
        <td><%= point.distance %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_point_path(point), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      point_path(point),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_point_path,
            :class => 'btn btn-primary' %>
