<%= form_for @test, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :device_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :device_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :test_run_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :test_run_id, TestRun.all.collect{|r| [r.name, r.id]}, :class => 'text_field' %>
    </div>
  </div>
<dl class="dl-horizontal">
  <dt><strong><%= Test.human_attribute_name(:distance) %>:</strong></dt>
  <dd><%= @test.distance %></dd>
  <dt><strong><%= Test.human_attribute_name(:time) %>:</strong></dt>
  <dd><%= @test.time %></dd>
</dl>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                tests_path, :class => 'btn' %>
  </div>
<% end %>
